.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

a {
  text-decoration: underline;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-left: 0px;
  background-color: #fff;
}

.image {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-top: 0px;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.link-block {
  margin-top: 12px;
}

.link-block-2 {
  font-family: 'Julius Sans One', sans-serif;
}

.link-block-2.w--current {
  margin-left: 312px;
  background-color: transparent;
  color: #980808;
  text-align: left;
}

.link-block-3 {
  background-color: #fff;
  font-family: 'Julius Sans One', sans-serif;
}

.link-block-4 {
  background-color: #fff;
  font-family: 'Julius Sans One', sans-serif;
}

.container-3 {
  height: 775px;
  margin-bottom: 18px;
}

.container-3.menu-page {
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(130, 150, 196, 0.47)), to(rgba(130, 150, 196, 0.47))), url('../images/Rectangle-2.png');
  background-image: linear-gradient(180deg, rgba(130, 150, 196, 0.47), rgba(130, 150, 196, 0.47)), url('../images/Rectangle-2.png');
  background-position: 0px 0px, 100% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.container-3.home-page {
  background-image: url('../images/IMG_20181213_181751_515-1.png');
  background-position: 50% 0%;
  background-size: cover;
}

.container-3.guestbook {
  background-image: url('../images/Rectangle-1.png');
  background-position: 0px 0px;
  background-size: cover;
}

.container-3.rsvp-form {
  background-image: url('../images/image-3-2.png');
  background-position: 100% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 41px;
  margin-right: 0px;
  margin-left: 38px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
}

.heading.home {
  margin-top: 70px;
  padding-right: 38px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  text-align: left;
}

.heading-2 {
  margin-top: 37px;
  padding-top: 121px;
  padding-bottom: 28px;
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
  font-size: 75px;
  font-weight: 400;
  text-align: center;
}

.button {
  margin: 61px 339px 282px 38px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: 1px solid #000;
  background-color: hsla(0, 0%, 100%, 0.22);
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.button.rsvp {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-color: #fff;
  color: #fff;
}

.body {
  margin-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #fff;
  border-radius: 0px;
}

.section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-2 {
  height: 975px;
  background-image: url('../images/Rectangle.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-2 {
  background-color: #fff;
}

.image-2 {
  max-width: 100%;
  margin-top: 7px;
  margin-left: 12px;
}

.image-2.tablet-logo {
  margin-top: 9px;
}

.image-2.home-logo {
  margin-top: 7px;
}

.nav-link {
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
  font-weight: 400;
}

.nav-link-2 {
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
}

.nav-link-3 {
  margin-right: 0px;
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
}

.intro-box {
  width: 30.3%;
  margin-right: 3%;
  margin-bottom: 3%;
  background-color: #2d5184;
}

.intro-box.no-border {
  margin-right: 0%;
}

.intro-box.menu {
  background-color: #fff;
}

.intro-box.menu.one-item {
  margin-right: 3%;
  margin-left: 3%;
}

.intro-box.menu.two-items {
  margin-left: 3%;
}

.mini-title {
  margin-bottom: 10px;
  color: #b99bb6;
  font-size: 13.5px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.top-border._5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.top-border._50 {
  margin-top: 27px;
}

.top-border._20 {
  margin-top: 20px;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.image-hover {
  max-height: 100%;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-hover:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.content-section {
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 75px;
}

.title-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.title-link:hover {
  opacity: 0.8;
}

.title-link.menu {
  color: #000;
}

.content-3 {
  position: relative;
  width: 100%;
  max-width: 1265px;
  padding-right: 25px;
  padding-left: 25px;
}

.button-2 {
  height: 45px;
  min-width: 110px;
  padding-top: 15px;
  padding-right: 28px;
  padding-left: 28px;
  border: 1px solid #b99bb6;
  border-radius: 25px;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, color 200ms ease;
  transition: background-color 200ms ease, color 200ms ease;
  color: #b99bb6;
  font-size: 11px;
  line-height: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.button-2:hover {
  background-color: #b99bb6;
  color: #fff;
}

.intro-text-box {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 23px 3%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(45, 81, 132, 0);
}

.relative {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-link {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 23px;
  line-height: 23px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.text-link.menu {
  color: #000;
}

.center-box {
  display: block;
  width: 65%;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
  color: #b99bb6;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.intro-paragraph {
  color: #5f4d5d;
  font-size: 26px;
  line-height: 38px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
}

.description {
  padding-top: 27px;
  padding-bottom: 50px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.description.menu {
  color: #000;
}

.description.menu.drinks {
  padding-bottom: 27px;
  letter-spacing: normal;
}

.navbar-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  z-index: 0;
  background-color: #fff;
}

.button-3 {
  position: fixed;
  left: auto;
  top: auto;
  right: 18%;
  bottom: 6%;
  z-index: 100;
  float: right;
  clear: none;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -o-object-fit: fill;
  object-fit: fill;
}

.button-3.topbutton {
  position: fixed;
  left: auto;
  top: auto;
  right: 4%;
  bottom: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #a0a0a0;
  background-color: #fff;
  background-image: url('../images/arrow.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
}

.container-5 {
  background-image: url('../images/image-2-1.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-subtext {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0px;
  margin-left: 38px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 20px;
}

.section-header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.grid {
  margin-right: 330px;
  margin-left: 330px;
  grid-template-areas: "Area";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.schedule-block {
  display: -ms-grid;
  display: grid;
  margin-right: auto;
  margin-bottom: 11px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 6px;
  padding-left: 44px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 25px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
  border-radius: 50px;
  background-color: #ffe6e7;
}

.schedule-block.second-event {
  margin-bottom: 17px;
  background-color: #d8f9f5;
  font-family: 'Julius Sans One', sans-serif;
  color: #4c7c7b;
}

.schedule-block.first-event {
  margin-bottom: 17px;
  font-family: 'Julius Sans One', sans-serif;
  color: #c03a46;
}

.schedule-block.third-event {
  margin-bottom: 17px;
  background-color: #eeeaff;
  font-family: 'Julius Sans One', sans-serif;
  color: #6c609f;
}

.schedule-block.forth-event {
  background-color: #c6ddff;
  color: #0b2f62;
}

.schedule-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 19px;
  text-align: left;
}

.event-name {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
}

.rsvp {
  margin-top: 285px;
  margin-right: 387px;
  margin-left: 387px;
  padding: 15px 20px;
  border: 1px solid #fff;
  background-color: hsla(0, 0%, 100%, 0.18);
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.text-block {
  margin-top: -31px;
  font-family: 'Julius Sans One', sans-serif;
}

.text-block.event-time {
  margin-top: 0px;
  margin-right: 44px;
  padding-right: 0px;
  text-align: right;
}

.text-block-2 {
  font-family: 'Julius Sans One', sans-serif;
}

.text-block-3 {
  font-family: 'Julius Sans One', sans-serif;
}

.event-notes.text-block {
  margin-top: 0px;
  margin-left: -401px;
  padding-left: 13px;
}

.container-6 {
  margin-bottom: 93px;
}

.grid-2 {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-text {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-text.text-block.calendar {
  margin-top: 24px;
  margin-bottom: 24px;
  -ms-grid-rows: auto minmax(auto, 0.25fr);
  grid-template-rows: auto minmax(auto, 0.25fr);
}

.text-block-4 {
  line-height: 14px;
}

.text-block-4.day {
  text-align: center;
}

.day {
  display: block;
  font-size: 20px;
  text-align: center;
}

.day.image {
  margin-top: -7px;
  margin-left: 36px;
}

.text-block-5 {
  text-align: center;
}

.text-block-6 {
  text-align: center;
}

.text-block-7 {
  text-align: center;
}

.text-block-8 {
  text-align: center;
}

.text-block-9 {
  text-align: center;
}

.text-block-10 {
  text-align: center;
}

.text-block-11 {
  text-align: center;
}

.week {
  color: #9b9b9b;
  font-size: 20px;
  text-align: center;
}

.month {
  font-family: 'Julius Sans One', sans-serif;
  color: #9b9b9b;
  font-size: 20px;
  text-align: right;
}

.link-block-5 {
  display: block;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 50px;
  background-image: url('../images/Rectangle-3.png');
  background-position: 0px 0px;
  background-size: cover;
}

.column {
  margin-top: 40px;
}

.general-notes {
  padding: 60px 10px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 20px;
  text-align: left;
}

.columns {
  margin-top: 40px;
  margin-bottom: 40px;
}

.home-heading {
  margin-top: 90px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.form-font {
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-weight: 400;
}

.field-label {
  font-weight: 400;
}

.field-label-2 {
  font-weight: 400;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #858585;
}

.form-block:focus {
  color: #000;
}

.heading-3 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  padding-right: 0px;
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.heading-rsvp {
  margin: 46px 0px 0px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

.heading-rsvp.guestbook {
  margin-top: 140px;
}

.radio-button-field {
  margin-top: 31px;
  margin-left: 20px;
  text-align: left;
}

.radio-button-field-2 {
  margin-left: 20px;
}

.submit-button {
  margin-top: 23px;
  margin-left: 20px;
  border: 1px solid #fff;
  background-color: rgba(88, 82, 82, 0.28);
}

.submit-button.guestbook-submit {
  margin-left: 0px;
}

.text-field {
  position: static;
  min-height: 20px;
  margin-left: 20px;
  opacity: 0.85;
  line-height: 60px;
  text-align: left;
}

.text-field:active {
  border-style: solid;
  border-width: 1px;
  border-color: #02dbe2;
}

.text-field:focus {
  border-style: solid;
  border-width: 1px;
  border-color: #3898ec;
}

.text-field::-webkit-input-placeholder {
  color: #b6b6b6;
}

.text-field:-ms-input-placeholder {
  color: #b6b6b6;
}

.text-field::-ms-input-placeholder {
  color: #b6b6b6;
}

.text-field::placeholder {
  color: #b6b6b6;
}

.text-field.notes {
  display: block;
  min-height: 100px;
}

.text-field.notes:focus {
  color: #000;
}

.text-field.notes::-webkit-input-placeholder {
  color: #b6b6b6;
}

.text-field.notes:-ms-input-placeholder {
  color: #b6b6b6;
}

.text-field.notes::-ms-input-placeholder {
  color: #b6b6b6;
}

.text-field.notes::placeholder {
  color: #b6b6b6;
}

.text-field.guests {
  margin-bottom: 4px;
  padding-bottom: 8px;
}

.text-field.full-name {
  margin: 285px 165px 10px 20px;
  opacity: 0.85;
}

.text-field.guestbook-name {
  max-width: 100%;
  margin-left: 0px;
}

.text-field.guestbook-email {
  margin-left: 0px;
}

.section-3 {
  margin-bottom: 30px;
  color: #000;
}

.radio-button {
  background-color: #fff;
}

.radio-button-2 {
  background-color: #fff;
}

.text-block-12 {
  margin-top: 19px;
  border-style: solid;
  border-width: 0px;
  border-color: #4ab15a;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
}

.success-message {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid transparent;
  background-color: transparent;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  text-align: center;
}

.success-message.phone-landscape {
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-13 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}

.error-message {
  margin-top: -64px;
  margin-right: 42px;
  margin-left: 231px;
  border-style: solid;
  border-width: 3px;
  border-color: #e22b2b;
  background-color: rgba(145, 26, 26, 0.69);
  text-align: center;
}

.div-block {
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 0px;
}

.field-label-3 {
  padding-left: 12px;
}

.field-label-4 {
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 15px;
  font-weight: 400;
  text-align: right;
}

.textarea {
  margin-bottom: 10px;
  margin-left: 20px;
  padding-bottom: 140px;
  opacity: 0.85;
}

.textarea.guestbook-message {
  margin-right: 140px;
  margin-left: 0px;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns-2 {
  height: 100%;
}

.column-4 {
  height: auto;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-block-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 132px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  margin-left: 59px;
  padding: 100px 57px 140px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #2d5184;
}

.text-block-15 {
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

.menu-heading {
  margin-bottom: 40px;
  font-family: 'Julius Sans One', sans-serif;
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  text-align: left;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  max-height: 100%;
  margin: 183px 42px 0px -37px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 57px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.food-description {
  margin-bottom: 30px;
  font-family: 'Julius Sans One', sans-serif;
}

.food-option {
  margin-bottom: 40px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.section-4 {
  margin-bottom: 87px;
}

.image-3 {
  margin-top: 223px;
}

.image-4 {
  display: block;
  margin-top: -82px;
}

.nav-link-4 {
  font-family: 'Julius Sans One', sans-serif;
  color: #000;
}

.container-8 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-1 {
  background-image: url('../images/IMG_20181213_181751_515-1.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slider {
  min-height: 100%;
}

.slide-2 {
  background-image: url('../images/image-3-2.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.image-6 {
  background-image: url('../images/Burlington-e1404829604777-1.png');
  background-position: 0px 0px;
  background-size: 125px;
  background-repeat: no-repeat;
}

.lightbox-link {
  background-image: url('../images/image-3-2.png');
  background-position: 0px 0px;
  background-size: 125px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 991px) {
  .container-3 {
    height: 620px;
    background-size: cover;
  }
  .container-3.menu-page {
    background-position: 100% 0%;
  }
  .heading {
    margin-right: 0px;
    margin-left: 25px;
    padding-right: 0px;
    font-size: 35px;
  }
  .heading-2 {
    margin-top: -52px;
  }
  .button {
    margin-right: auto;
    margin-left: 25px;
  }
  .image-2 {
    margin-top: 7px;
  }
  .image-2.tablet-logo {
    margin-top: 12px;
    margin-left: 6px;
  }
  .center-box {
    width: 80%;
  }
  .button-3.topbutton {
    right: 2%;
  }
  .header-subtext {
    margin-right: 0px;
    margin-left: 25px;
    padding-right: 0px;
  }
  .rsvp {
    margin: 212px 281px 0px;
  }
  .day.image {
    margin-left: 23px;
  }
  .home-heading {
    margin-top: 49px;
    margin-bottom: 54px;
  }
  .list-item {
    margin-left: 109px;
  }
  .list-item-2 {
    margin-left: 109px;
  }
  .list-item-3 {
    margin-left: 109px;
  }
  .list-item-4 {
    margin-left: 109px;
  }
  .list-item-5 {
    margin-left: 109px;
  }
  .list-item-6 {
    margin-left: 109px;
  }
  .list-item-7 {
    margin-left: 109px;
  }
  .list-item-8 {
    margin-left: 109px;
  }
  .form-font {
    margin-right: 0px;
    margin-left: 0px;
  }
  .form-block {
    margin-top: 38px;
    margin-right: 17px;
  }
  .heading-3 {
    margin-bottom: 13px;
    padding-right: 0px;
    font-size: 15px;
    line-height: 20px;
  }
  .heading-rsvp {
    margin-top: 30px;
    margin-left: 0px;
    padding-right: 0px;
    font-size: 30px;
    line-height: 30px;
  }
  .heading-rsvp.guestbook {
    margin-top: 83px;
  }
  .radio-button-field {
    margin-top: 18px;
    margin-left: 0px;
  }
  .radio-button-field-2 {
    margin-bottom: 10px;
    margin-left: 0px;
  }
  .submit-button {
    margin-top: 13px;
    margin-left: 0px;
  }
  .text-field {
    margin-left: 0px;
    opacity: 0.85;
  }
  .text-field.full-name {
    margin-top: 149px;
    margin-left: 0px;
    opacity: 0.85;
  }
  .text-block-12 {
    font-size: 15px;
  }
  .success-message {
    margin-right: 42px;
    margin-left: 328px;
  }
  .success-message.phone-landscape {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .error-message {
    margin-top: -84px;
    margin-right: 22px;
    margin-left: 160px;
  }
  .textarea {
    margin-left: 0px;
    opacity: 0.85;
  }
  .column-3 {
    height: 100%;
  }
  .columns-2 {
    height: 620px;
  }
  .column-6 {
    margin-top: 22px;
  }
  .div-block-2 {
    margin-top: 47px;
    padding-top: 88px;
    padding-bottom: 88px;
  }
  .text-block-15 {
    font-size: 17px;
  }
  .div-block-4 {
    padding-right: 40px;
    padding-left: 40px;
  }
  .section-4 {
    margin-top: 61px;
  }
  .image-4 {
    margin-top: -74px;
  }
}

@media screen and (max-width: 767px) {
  .container-3 {
    height: 520px;
    background-image: url('../images/DSC05901.JPG');
    background-position: 100% 0%;
    background-size: cover;
  }
  .container-3.menu-page {
    margin-bottom: 24px;
  }
  .container-3.rsvp-form {
    margin-bottom: 37px;
    background-position: 100% 50%;
  }
  .heading {
    margin-right: 36px;
    font-size: 35px;
  }
  .heading-2 {
    margin-top: -25px;
    margin-bottom: 0px;
    padding-top: 28px;
    font-size: 60px;
  }
  .button {
    margin-top: 59px;
  }
  .image-2 {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 7px;
  }
  .intro-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .title-link {
    font-size: 14px;
  }
  .text-link {
    font-size: 19px;
  }
  .description {
    font-size: 12px;
  }
  .button-3.topbutton {
    right: 3%;
    bottom: 2%;
  }
  .container-5 {
    background-position: 0% 0%;
    background-size: cover;
  }
  .header-subtext {
    margin-right: 38px;
    font-size: 18px;
  }
  .schedule-block.second-event {
    margin-right: 5px;
    margin-left: 5px;
  }
  .schedule-block.first-event {
    margin-right: 5px;
    margin-left: 5px;
  }
  .schedule-block.third-event {
    margin-right: 5px;
    margin-left: 5px;
  }
  .schedule-block.forth-event {
    margin-right: 5px;
    margin-left: 5px;
  }
  .rsvp {
    margin-right: 216px;
    margin-left: 216px;
    font-size: 16px;
  }
  .day.image {
    margin-left: 10px;
  }
  .month {
    margin-top: 20px;
    margin-right: 5px;
  }
  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home-heading {
    font-size: 25px;
  }
  .list-item {
    margin-left: 192px;
  }
  .list-item-2 {
    margin-left: 192px;
  }
  .list-item-3 {
    margin-left: 192px;
  }
  .list-item-4 {
    margin-left: 192px;
  }
  .list-item-5 {
    margin-left: 192px;
  }
  .list-item-6 {
    margin-left: 192px;
  }
  .list-item-7 {
    margin-left: 192px;
  }
  .list-item-8 {
    margin-left: 192px;
  }
  .html-embed {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .form-font {
    display: block;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .form-block {
    margin-top: -3px;
    margin-right: 9px;
  }
  .heading-3 {
    margin-bottom: 0px;
    margin-left: 0px;
    padding-right: 0px;
    color: #000;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
  .heading-3.guestbook-description {
    margin-bottom: 20px;
    color: #fff;
  }
  .heading-rsvp {
    margin-top: 21px;
    margin-left: 0px;
    padding-right: 0px;
    color: #000;
    font-size: 24px;
    text-align: center;
  }
  .heading-rsvp.guestbook {
    margin-top: 45px;
    color: #fff;
  }
  .radio-button-field {
    margin-top: 13px;
    margin-left: 0px;
  }
  .radio-button-field-2 {
    margin-left: 0px;
  }
  .submit-button {
    margin-top: 22px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .text-field {
    min-height: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0.85;
  }
  .text-field.guests {
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
  }
  .text-field.full-name {
    min-height: 14px;
    margin-top: 84px;
    opacity: 0.85;
  }
  .section-3 {
    margin-bottom: 21px;
  }
  .success-message {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 214px;
  }
  .success-message.phone-landscape {
    margin-top: 196px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .error-message {
    margin-top: -133px;
    margin-right: 281px;
    margin-left: -272px;
  }
  .textarea {
    margin-bottom: 0px;
    opacity: 0.85;
  }
  .columns-2 {
    height: 520px;
  }
  .column-4 {
    display: block;
  }
  .div-block-2 {
    margin-bottom: 0px;
    margin-left: 18px;
    padding: 40px 20px 40px 30px;
  }
  .text-block-15 {
    padding-bottom: 20px;
    font-size: 15px;
  }
  .menu-heading {
    margin-bottom: 40px;
  }
  .div-block-3 {
    margin-top: -1px;
    margin-right: 9px;
    margin-left: -40px;
  }
  .div-block-4 {
    margin-right: 40px;
    margin-left: 40px;
  }
  .div-block-4.menu {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .food-option {
    margin-left: 0px;
  }
  .image-4 {
    margin-top: 46px;
  }
  .section-5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container-3 {
    height: 610px;
    margin-bottom: 28px;
    background-position: 50% 100%;
    background-size: cover;
    background-attachment: scroll;
  }
  .container-3.menu-page {
    background-position: 50% 0%;
    background-size: cover;
  }
  .container-3.guestbook {
    background-position: 50% 50%;
    background-size: cover;
  }
  .container-3.rsvp-form {
    background-position: 50% 0%;
    background-size: 1100px;
    background-attachment: fixed;
  }
  .heading {
    margin-right: 0px;
    margin-left: 21px;
    font-size: 30px;
    line-height: 35px;
  }
  .heading-2 {
    margin-top: 46px;
    font-size: 40px;
  }
  .button {
    margin-right: 0px;
    margin-left: 21px;
  }
  .image-2 {
    max-width: 60%;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .image-2.tablet-logo {
    max-width: 90%;
    margin-top: 16px;
  }
  .image-2.home-logo {
    max-width: 90%;
  }
  .image-2.mobile-logo {
    margin-top: 16px;
  }
  .intro-box {
    width: auto;
    margin-right: 10px;
    margin-bottom: 9%;
    margin-left: 10px;
  }
  .intro-box.no-border {
    margin-right: 10px;
  }
  .image-hover {
    max-width: 100%;
  }
  .content-section {
    padding-bottom: 0px;
  }
  .title-link {
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .intro-text-box {
    width: auto;
  }
  .relative {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .text-link {
    max-width: 344px;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 25px;
    line-height: 30px;
  }
  .description {
    max-width: 344px;
    padding-bottom: 10px;
    font-size: 15px;
  }
  .button-3.topbutton {
    right: 2%;
    bottom: 1%;
  }
  .container-5 {
    background-position: 10% 0%;
  }
  .header-subtext {
    margin-left: 21px;
  }
  .section-header {
    font-size: 25px;
  }
  .schedule-block.second-event {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .schedule-block.first-event {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .schedule-block.third-event {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .schedule-block.forth-event {
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 21px;
    padding-left: 21px;
  }
  .event-name {
    font-size: 18px;
  }
  .rsvp {
    display: block;
    margin: 242px 100px 0px;
    padding: 8px 20px;
    font-size: 14px;
  }
  .text-block.event-time {
    margin-right: 0px;
  }
  .text-block-3 {
    margin-left: 0px;
  }
  .grid-text.text-block.calendar {
    margin-right: 6px;
    margin-left: 6px;
  }
  .day {
    font-size: 18px;
  }
  .day.image {
    margin-top: -11px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .week {
    font-size: 18px;
  }
  .month {
    margin-right: 6px;
    font-size: 18px;
  }
  .column {
    margin-top: 20px;
  }
  .general-notes {
    padding: 0px 20px;
    font-size: 15px;
  }
  .columns {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .home-heading {
    margin-top: 62px;
    margin-bottom: 23px;
    font-size: 20px;
  }
  .list-item {
    margin-left: 312px;
  }
  .list-item-2 {
    margin-left: 312px;
  }
  .list-item-3 {
    margin-left: 312px;
  }
  .list-item-4 {
    margin-left: 312px;
  }
  .list-item-5 {
    margin-left: 312px;
  }
  .list-item-6 {
    margin-left: 312px;
  }
  .list-item-7 {
    margin-left: 312px;
  }
  .list-item-8 {
    margin-left: 312px;
  }
  .column-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .brand {
    position: absolute;
    overflow: visible;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .form-block {
    height: auto;
    margin-left: 0px;
    padding-left: 0px;
  }
  .heading-3 {
    margin-top: 4px;
    margin-right: 0px;
    margin-bottom: 8px;
    color: #000;
    font-size: 16px;
  }
  .heading-rsvp {
    margin-top: 21px;
    margin-right: 0px;
  }
  .heading-rsvp.guestbook {
    margin-top: 40px;
    color: #fff;
    font-size: 30px;
  }
  .radio-button-field {
    margin-left: 0px;
  }
  .radio-button-field-2 {
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .submit-button {
    margin-left: 0px;
  }
  .text-field {
    margin-bottom: 15px;
    opacity: 0.85;
  }
  .text-field.full-name {
    margin-top: 28px;
    margin-right: 79px;
  }
  .text-field.guestbook-name {
    margin-right: 0px;
    margin-left: 0px;
  }
  .success-message {
    margin-top: -34px;
    margin-left: 0px;
  }
  .success-message.phone-landscape {
    margin-top: 19px;
    padding-right: 0px;
  }
  .error-message {
    margin-top: -456px;
    margin-right: 35px;
    margin-left: 35px;
  }
  .field-label-4 {
    margin-bottom: 15px;
  }
  .textarea {
    margin-bottom: 22px;
    opacity: 0.85;
    line-height: 30px;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column-4 {
    height: auto;
  }
  .div-block-2 {
    margin-top: 47px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 77px;
  }
  .div-block-3 {
    margin-left: 0px;
  }
  .div-block-4 {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .food-description {
    font-size: 13px;
  }
  .food-option {
    font-size: 15px;
  }
  .image-4 {
    overflow: visible;
    min-height: 1px;
    min-width: 1px;
    margin-top: -168px;
    margin-left: 0px;
    opacity: 0;
  }
  .radio-button-label {
    color: #fff;
  }
  .radio-button-label-2 {
    color: #fff;
  }
  .slide-2 {
    background-size: contain;
  }
}

#w-node-e7295bb10ef4-3b4ddf20 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-7a761b385238-3b4ddf20 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-f6bf7ecb2fc2-3b4ddf20 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-4775bab7a674-3b4ddf20 {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-3e3a261672b8-3b4ddf20 {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #w-node-e7295bb10ef4-3b4ddf20 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 767px) {
  #w-node-e7295bb10ef4-3b4ddf20 {
    -ms-grid-column-align: start;
    justify-self: start;
  }
}

@media screen and (max-width: 479px) {
  #w-node-e7295bb10ef4-3b4ddf20 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

